body{
  font-size: 14px;
}

header{
  height: auto;
  width: auto;
}
#digimon_go{
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
  position: relative;
  left: 75px;
}

.menu{
  float: right;
  list-style-type: none;
  margin-bottom: 10px;
  position: absolute;
  left: 775px;
}
.menu ul li{
  display: inline-block;
  text-align: center;
  padding-left: 10px;
  margin-bottom: 10px;
}

.blueimg{
  position: relative;
  top: 150px;
  left: 400px;
  background-image: url(Assets/hero.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 433px;
  width: 956px;
}

.main{
  font-family: 'Lato', sans-serif;
  border-radius: 25px;
  border: 3px solid grey;
  padding: 5px 5px 5px 5px;
  max-width: 450px;
  display: inline;
  position: fixed;
  top: 150px;
  left: 75px;
  float: left;
}

img.talkie{
  z-index: -1;
  z-index: right;
}

.container2{
  background-color: #3d3d29;
}

#one{
  border: 3px solid grey;
  font-family: 'Lato', sans-serif;
  border-radius: 25px;
  padding: 5px 5px 5px 5px;
  float: right;
  display: inline-block;
  position: fixed;
  bottom: 150px;
  left: 100px;
  margin-right: 20px;
}

#two{
  border: 3px solid grey;
  font-family: 'Lato', sans-serif;
  border-radius: 25px;
  padding: 5px 5px 5px 5px;
  float: right;
  display: inline-block;
  position: fixed;
  left: 425px;
  bottom: 150px;
  margin-right: 20px;
}

#three{
  border: 3px solid grey;
  font-family: 'Lato', sans-serif;
  border-radius: 25px;
  padding: 5px 5px 5px 5px;
  float: right;
  display: inline-block;
  position: fixed;
  bottom: 150px;
  left: 725px;
}

h1{
  font-family: 'Sarpanch-Regular', sans-serif;
  color: blue;
  text-decoration:underline;
  text-underline-position: bottom 10px;
}

footer{
  position: fixed;
  bottom: 0em;
  left: 50%;
}